/** style sheet for AssistantPerformer **/

a:link
{
    color: #1010C6;
}
a:hover
{
    color: #0088FF;
}
a:active
{
}
a:visited
{
    color: #00AA00;
}

p.header1
{
    font-size: 20px;
    font-weight: normal;
    margin-top:14px;
    margin-bottom:6px
}

hr.hrHeight1
{
    border-style: none;
    height: 1px;
    background-color: #1010C6;
}

div.centredReference
{
    position:relative; 
    text-align: left; 
    top: 0px;
    left: 0px;
    width: 1027px;
    padding-top: 0px; 
    margin-top: 0px;  
    margin-left: auto; 
    margin-right: auto;
}
.helpColour
{
    color: #8888FF;
}
.narrowLineHeight
{
    line-height: 15px;
}
select.deviceSelector
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 11px; 
    width: 220px;
    margin-left: 8px;
    margin-right: 8px; 
}

div.options
{
    font-size: 12px;
    background-color: #F6F6F6;
    border: 1px solid #008000;
    margin-top: 10px;
    margin-bottom:0px;
    margin-left:100px;
    margin-right:100px;
    padding: 10px;
    text-align:match-parent;
}
div.optionsPanel
{
    width:636px;
    margin-top: 8px;
    margin-bottom:2px;
    margin-left:103px;
    margin-right:28px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;                
    text-align: left;
    line-height: 18px; 
    background-color: #FCFCFC;
    border: 1px solid #008000; 
}
div.mpoCheckBoxCell
{
     display:table-cell;
     font-size: 9px;
     text-align: center;
     line-height: 10px;
     padding-left: 3px;
     padding-right: 3px;
}
        
img.performanceControl
{  
    width: 21px;
    height: 21px;
    margin: 0px 4px 0px 0px;
}
img.channelControl
{
    width: 13px;
    height: 22px;
    margin: 0px 0px 0px 5px;
}
.svgControlPanel
{
    border-style: none; 
    padding: 0px; 
    margin: 0px;  
    width: 960px;
    height: 21px;
    display:inline; 
}
.scoreFrame
{
    border-style: none; 
    padding: 0px; 
    margin: 0px;  
    width: 1027px; 
}

/*** new 15.05.2014 for monoPerformerOptions***/

div.mpoColumn1Cell
{
    display:table-cell;
    text-align:right;
    width: 140px;
    /*background-color: #C0C0C0;*/
    padding-left: 4px;
    padding-right:4px;
}
div.mpoColumn2Cell
{
    display:table-cell;
    text-align:right;
    width: 124px;
    /*background-color: #FF6666;*/
}
div.mpoColumn3Cell
{
    display:table-cell;
    text-align:center;
    width: 100px;
    /*background-color: #99FFCC;*/
}
div.mpoTrackNumberCell
{
    display:table-cell;
    font-size:10px;
    text-align:center;
    width: 15px;
    /*background-color: #99CCFF;*/
    padding-left:1px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
}

div.mpoCheckBoxCell
{
    display:table-cell;
    width: 15px;
    /*background-color: #99CCFF;*/
    padding-left:1px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
}

/* for track numbers */

div.mpoPerformerCapBorderCheckBoxCell
{
    display:table-cell;
    width: 14px;
    /*background-color: #99CCFF;*/
    padding-left:2px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
    border-style: solid solid none solid;
    border-width: 1px; 
    border-color: #008000;
}
div.mpoPerformerSidesBorderCheckBoxCell
{
    display:table-cell;
    width: 14px;
    /*background-color: #99CCFF;*/
    padding-left:2px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
    border-style: none solid none solid;
    border-width: 1px; 
    border-color: #008000;
}
div.mpoPerformerCupBorderCheckBoxCell
{
    display:table-cell;
    width: 14px;
    /*background-color: #99CCFF;*/
    padding-left:2px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:3px;
    margin:0px;
    border-style: none solid solid solid;
    border-width: 1px; 
    border-color: #008000;
}


div.mpoRow9Cell1 
{
    display:table-cell;
    width: 126px;
    /*background-color: #C0C0C0;*/
    padding-left:4px;
    padding-right:4px;
    margin:0px;
}
div.mpoRow9Cell2 
{
    display:table-cell;
    width: 98px;
    /*background-color: #FF6666;*/
    padding:0px;
    margin:0px;
    text-align:right;
}
div.mpoRow9Cell3 
{
    display:table-cell;
    width: 50px;
    /*background-color: #99FFCC;*/
    padding-left:4px;
    padding-right:3px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
}
div.mpoRow9Cell4 
{
    display:table-cell;
    width: 10px;
    /*background-color: #99CCFF;*/
    padding:0px;
    margin:0px;
}
div.mpoRow9Cell5 
{
    display:table-cell;
    width: 330px;
    font-size: 10px;
    line-height: 14px; 
    color: #3399FF;
    /*background-color: #C0C0C0;*/
    padding-left:6px;
    padding-bottom:0px;
    padding-top:0px;
    padding-right:0px;
    margin:0px;
    vertical-align: middle;
}

div.mpoRow10Cell1
{
    display:table-cell;
    width: 50px;
    /*background-color: #C0C0C0;*/
    padding-left:4px;
    padding-right:4px;
    margin:0px;
    vertical-align:middle;
}

div.mpoRow10Cell2
{
    display:table-cell;
    width: 50px;
    font-size:11px;
    /*background-color: #FF6666;*/
    padding:0px;
    margin:0px;
    text-align:left;
    vertical-align:middle;
}

div.mpoRow10Cell3
{
    display:table-cell;
    width: 400px;
    font-size: 10px;
    line-height: 14px; 
    color: #3399FF;
    /*background-color: #C0C0C0;*/
    padding-left:2px;
    margin:0px;
    vertical-align: middle;
}

select.mpoPerformersTrackSelect
{
    font-size:11px;
    padding:0px;
    margin:0px;
    width:40px;
}

select.mpoTrackSelect 
{
    font-size:11px;
    padding:0px;
    margin:0px;
    width:90px;
}


input.mpoCheckBox
{
    vertical-align: middle;
    margin:0px;
    padding:0px;
}

select.mpoMidiControlSelect 
{
    font-size:11px;
    padding:0px;
    margin:0px;
    width:120px;
}

input.mpoNumberInput
{
    font-size:11px;
    padding: 0px;
    margin: 0px;
    width: 50px;
}
