/** style sheet for AssistantPerformer **/

a:link
{
    color: #1010C6;
}
a:hover
{
    color: #0088FF;
}
a:visited
{
    color: #00AA00;
}

.note /* a div note in a blue frame */
{
    font-size: 8.25pt;
    line-height: 150%;
	text-align:left;
	width:644px;
	margin:8px auto 12px auto;
    padding: 12px 14px 12px 14px; 
    border: 1px solid #1010C6
}

.helpText /* a div help text */
{
	font-size: 12px;
}

.blueHelpText /* span */
{
    color: #8888FF;
}

.redHelpText /* span */
{
    color: #f20d0d;
}

.deviceSelector /* select */
{
    font-family: Lucida Sans Unicode, Verdana, Arial, Geneva, Sans-Serif;
    font-size: 11px; 
    width: 220px;
    margin: 6px 8px 6px 8px;
    padding: 0; 
}

.options /* div */
{
    font-size: 12px;
    background-color: #F6F6F6;
    border: 1px solid #008000;
	width:740px;
    margin: 4px auto 0 auto;
    padding: 6px 10px 6px 10px;
    text-align:center;
}

.checkBoxCell /* div */
{
     display:table-cell;
     font-size: 9px;
     text-align: center;
     line-height: 10px;
     padding-left: 3px;
     padding-right: 3px;
}

.runtimeDiv /* div */
{
	position: absolute;
	padding: 0;
	margin: 0;
	visibility: hidden;
}

.startRuntimeButton /* input */
{
    margin:5px 0 2px 0;
}
