
@font-face {
	font-family: 'CLicht';
	src: url('fonts/clicht_plain-webfont.woff'); /* Modern Browsers */	
	src: url('fonts/clicht_plain-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/clicht_plain-webfont.woff') format('woff'), /* Modern Browsers */ 
	url('fonts/clicht_plain-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ 
	url('fonts/clicht_plain-webfont.svg#webfontl9D2oOyX') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

.CLicht {
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-family: 'CLicht';
}

@font-face {
	font-family: 'Arial';
	src: url('fonts/arial.ttf') format('truetype'); 
	font-weight:400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.ttf') format('truetype'); 
	font-weight:400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url('fonts/OpenSans-CondBold.ttf') format('truetype'); 
	font-weight:600;
	font-style: normal;
}
