
@font-face {
	font-family: 'CLicht';
	src: url('fonts/clicht_plain-webfont.eot'); /* IE9 Compat Modes */	
	src: url('fonts/clicht_plain-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/clicht_plain-webfont.woff') format('woff'), /* Modern Browsers */ 
	url('fonts/clicht_plain-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ 
	url('fonts/clicht_plain-webfont.svg#webfontl9D2oOyX') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

.CLicht {
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-family: 'CLicht';
}
